<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>These pets are looking or a home</h2>
<h3><a [routerLink]="['new']">Add pet to the shelter</a></h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pet of pets">
    <th scope="row">{{pet.name}}</th>
    <td>{{pet.type}}</td>
    <td>
      <button [routerLink] = "[ 'edit', pet._id]" class="btn btn-primary mr-2">Detail</button>
      <button [routerLink] = "[  pet._id, 'edit']" class="btn  btn-success">Edit</button>
    </td>

  </tr>

  </tbody>
</table>
