<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row">
  <div class="col-6 col-md-4"><h2>Details about</h2> </div>
  <div class="col-6 col-md-4"><h3>{{pet.name}}</h3></div>
</div>
<div class="row">
  <div class="col-6 col-md-4"><h3>DPet Type</h3> </div>
  <div class="col-6 col-md-4"><h4>{{pet.type}}</h4></div>
</div>
<div class="row">
  <div class="col-6 col-md-4"><h3>Description</h3> </div>
  <div class="col-6 col-md-4"><h4>{{pet.description}}</h4></div>
</div>
<div class="row">
  <div class="col-6 col-md-4"><h3>Skills</h3> </div>
  <div class="col-6 col-md-4"><h4>{{pet.skills}}</h4></div>
</div>
<div class="row">
  <div class="col-6 col-md-4"><h3>Likes</h3> </div>
  <div class="col-6 col-md-4"><h4>{{pet.likes}}</h4></div>
</div>
<button (click)="LikeThisPet(pet._id, pet.likes)" [disabled]="isCliked" class="btn btn-primary">Like this pets</button>
<button (click)="deletePets(pet._id)" class="btn btn-success">Adopt this pets</button>
